<div class="sidebar">
<!--  <div class="container sidebar-sticky"> -->
 <div align="center">
    <div class="sidebar-about"> 
      <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>   
      <a href="https://www.flickr.com/photos/internetarchivebookimages/14580694617/in/faves-142161312@N05/"><img src="{{ site.baseurl }}/images/terminal.jpg" width="240"/></a>
      <p class="lead">{{ site.description }}</p>
    </div>


    <ul class="sidebar-nav">
<!--      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="{{ site.baseurl }}/">Home</a> 
        </li>  -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
<p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Course Materials</span> licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0 International License</a>.</p>
<p><a href="https://github.com/jloan/e235">Get the repository for this site.</a></p>
<!--    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->

</div>
</div>
